*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.banner-img{
    width: 400px;
    
}
.banner-container{
    display:flex;
    justify-content: space-around;
    height:100vh;
    align-items: center;
    color: rgb(7, 7, 7);
    background-position: center;
    background-size: cover;
    background-color: #FFE5E5;
}
.title{
    font-size: 50px;
    font-weight: bold;
}
.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding: 10px 20px;
    background-color: rgb(229,84,115);
    color: white;
    border: none;
   

}
.copy{
    text-align: center;
    padding: 15px;
}
.text-primary{
    color: #B83C51;
}
li{
    display: inline;
    
   
}
.photo{
    width:200px;
    height: 250px;
}
.service-container{
    display: center;
    justify-content: space-around;
    text-align: center;
    i
}
.body-container{
    display: flex ;
    justify-content: space-around;
    height:100vh;
    align-items: center;
    color: rgb(7, 7, 7);
    background-position: center;
    background-size: cover;   
}
.body-img{
    width: 200px;
}
.body-text{
    text-align: center;
}
.deals-container{
    display:flex;
    justify-content: space-around;
    height:50vh;
    align-items: center;
    text-align: center;
    background-image:url("./images/Rectangle\ 9.png"),
    linear-gradient(45deg, rgba(252, 250, 250, 0.843),rgb(248, 247, 247));
    background-position: center;
    background-size: 1000px;
    background-repeat: no-repeat;
    
}
.title{
    font-size: 28px;
    font-weight: bold;
    
}
.description{
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
}
form{
    padding: 10px 20px;
    botton-color:rgb(229,84,115);
    color: white;
    border: none;

}
.box-text{
    height: 32px;
    width: 500px;
    border: none;
}
.footer-container{
    display: center;
    justify-content: space-around;
    height:40vh;
    text-align: center;
    color: rgb(235, 229, 229);
    background-position: center;
    background-size: cover;
    background-color: #0e0d0d;

    
}
.footer-description{
    font-size: 5px; 
    margin-bottom: 15px;
}
.footer-title{
    font-size: 30px;
    font-weight: bold;
}